[submodule "tour-of-heroes-for-dotnet"]
	path = tour-of-heroes-for-dotnet
	url = https://github.com/peterblazejewicz/tour-of-heroes-for-dotnet.git
[submodule "hero-employment-agency"]
	path = hero-employment-agency
	url = https://github.com/peterblazejewicz/hero-employment-agency
