[submodule "tour-of-heroes-for-dotnet"]
	path = tour-of-heroes-for-dotnet
    url = https://github.com/peterblazejewicz/tour-of-heroes-for-dotnet.git
    
[submodule "storyline-tracker-dotnet"]
	path = storyline-tracker-dotnet
	url = https://github.com/peterblazejewicz/storyline-tracker-dotnet.git
[submodule "jumpstart-dotnet"]
	path = jumpstart-dotnet
	url = https://github.com/peterblazejewicz/jumpstart-dotnet.git
[submodule "todomvc-dotnet"]
	path = todomvc-dotnet
	url = https://github.com/peterblazejewicz/todomvc-dotnet.git
[submodule "reviewking-dotnet"]
	path = reviewking-dotnet
	url = https://github.com/peterblazejewicz/reviewking-dotnet.git
[submodule "polymer-shop-dotnet"]
	path = polymer-shop-dotnet
	url = https://github.com/peterblazejewicz/polymer-shop-dotnet.git
